<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <style>
        /* Add any additional styling you need here */
        .user-info {
            margin: 20px;
        }

        .user-info p {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="user-info">
        <h2>User Information</h2>
            <p><strong>ID:</strong> <%= users[publicUserID].ID %></p>
            <p><strong>Name:</strong> <%= users[publicUserID].name ? users[publicUserID].name : 'Not provided' %></p>
            <p><strong>Level:</strong> <%= users[publicUserID].level ? users[publicUserID].level : 'Not provided' %></p>
            <p><strong>Position:</strong> 
                x: <%= users[publicUserID].position.x ? users[publicUserID].position.x : 'Not provided' %>, 
                y: <%= users[publicUserID].position.y ? users[publicUserID].position.y : 'Not provided' %>, 
                z: <%= users[publicUserID].position.z ? users[publicUserID].position.z : 'Not provided' %>
            </p>
            <p><strong>Count:</strong> <%= users[publicUserID].count ? users[publicUserID].count : 'Not provided' %></p>
            <p><strong>Favourites:</strong> <%= users[publicUserID].favourites ? users[publicUserID].favourites : 'Not provided' %></p>
            <p><strong>Mana:</strong> <%= users[publicUserID].mana ? users[publicUserID].mana : 'Not provided' %></p>
            <!-- Add more user details as needed -->
        </div>
</body>
</html>
