<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <style>
        /* Add any additional styling you need here */
        .user-info {
            margin: 20px;
        }

        .user-info p {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="user-info">
        <h2>User Information</h2>
            <p><strong>ID:</strong> <%= user.ID %></p>
            <p><strong>Name:</strong> <%= user.name ? user.name : 'Not provided' %></p>
            <p><strong>OnlineTime:</strong> <%= user.count ? user.count : 'Not provided' %></p>
            <p><strong>Level:</strong> <%= user.level ? user.level : 'Not provided' %></p>
            <p><strong>Position:</strong> 
                x: <%= user.position.x ? user.position.x : 'Not provided' %>, 
                y: <%= user.position.y ? user.position.y : 'Not provided' %>, 
                z: <%= user.position.z ? user.position.z : 'Not provided' %>
            </p>
            <!-- <p><strong>Favourites:</strong> <%= user.favourites ? user.favourites : 'Not provided' %></p> -->
            <p><strong>Mana:</strong> <%= user.mana ? user.mana : 'Not provided' %></p>



            <% if (user.favourites && typeof user.favourites === 'object') { %>
                <p><strong>Favourites:</strong></p>
                <ul>
                    <% for (let key in user.favourites) { %>
                        <% if (user.favourites.hasOwnProperty(key)) { %>
                            <li><%= key %>: <%= user.favourites[key] %></li>
                        <% } %>
                    <% } %>
                </ul>
            <% } else { %>
                <p><strong>Favourites:</strong> Not provided</p>
            <% } %>


            <!-- Add more user details as needed -->
        </div>
</body>
</html>
